# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/
/log.txt
/docs/latex/manual.aux
/docs/latex/manual.out
/docs/latex/manual.toc
/docs/latex/_minted-manual/1E79CC3A8AD4EC82D507415C29B2652C3CF37A6C7F1F1A332753833427E954DF.pygtex
/docs/latex/_minted-manual/1F61AA6AEDE381012F6164EE5A9481214F6DFE47CC3AACC30835E9A91C4175B4.pygtex
/docs/latex/_minted-manual/34A9C6DAA63BF06AC35539CFE85074EA3CF37A6C7F1F1A332753833427E954DF.pygtex
/docs/latex/_minted-manual/468780E47D6E8617346418F36BF0C4F44F6DFE47CC3AACC30835E9A91C4175B4.pygtex
/docs/latex/_minted-manual/64F0BE93EC5C6EA4DD938A1F8F9A30563CF37A6C7F1F1A332753833427E954DF.pygtex
/docs/latex/_minted-manual/95D3BB4B106A2A4B48138312E1B77E233CF37A6C7F1F1A332753833427E954DF.pygtex
/docs/latex/_minted-manual/BDAC19D848C99429132F73D569DA7C6F3CF37A6C7F1F1A332753833427E954DF.pygtex
/docs/latex/_minted-manual/BF144A6F6470FA6B4CA08BBCA0AF30513CF37A6C7F1F1A332753833427E954DF.pygtex
/docs/latex/_minted-manual/C35C350B78454DFDBD5C6816C30C554D3CF37A6C7F1F1A332753833427E954DF.pygtex
/docs/latex/_minted-manual/DDE264268C19F8FC2E64CE5CDFE24C1E3CF37A6C7F1F1A332753833427E954DF.pygtex
/docs/latex/_minted-manual/default.pygstyle
